.fixed{
    clear: both;
    overflow: hidden;
}
.navul{
    padding-top: 50px;
}

.navli{
    text-decoration: none;
    display: inline;    
    padding-right: 25px;  
    font-size: 20px;
}
h1{
    font-family:Curlz MT;
    font-size:70px; 
    color:#000000;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px; 
    color:#008080;
}